@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #D6EAF8 0%, #a0d2eb 100%);
    color: #333;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    animation: backgroundAnimation 10s ease infinite;
}

.wiki-search-header {
    border-style: solid;
    border-width: 1px;
    border-color: #d5cdcd;
    padding: 30px 20px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.wiki-search-header:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
}

.wiki-logo {
    margin-bottom: 30px;
    width: 150px;
    transition: transform 0.3s, filter 0.3s;
}

.wiki-logo:hover {
    transform: scale(1.1);
}

.search-input {
    font-size: 18px;
    border: 1px solid #d5cdcd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
    border-color: #a8a8a8;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-results {
    width: 100%;
    padding: 0 20px;
}

.result-item {
    background-color: #cef5f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.result-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color:#bef3ed;
}

.result-title {
    font-size: 22px;
    color: #007BFF;
    transition: color 0.3s;
}

.result-title:hover {
    color: #0056b3;
}

.link-description {
    color: #444;
    font-size: 15px;
}

.result-url {
    color: #006621;
    text-decoration: none;
    transition: color 0.3s;
}

.result-url:hover {
    color: #004d00;
}
